.wrapper {
  width: 400px;
  border: 2px, solid, black;
  border-radius: 5px;
  padding-top: 20px;
}
.userInfo {
  margin-bottom: 10px;
}
.image {
  width: 200px;
  border-radius: 50%;
  background-color: rgb(36, 35, 35);
  margin: 0 auto;
  margin-bottom: 10px;
}
.name {
  font-weight: bold;
  margin-bottom: 8px;
}
.userName {
  color: grey;
}
.location {
  color: grey;
  margin-bottom: 10px;
}
.profileList {
  display: flex;
  background-color: rgb(188, 186, 186);
}
.profileListItem {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 41px;
  border: 1px solid gray;
}
